<!DOCTYPE html>
<html lang="fi">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <%- include('../partials/navigation') %>
     <%- include('../partials/citylines') %>
    <main>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>